//body bg & font colors
$body-bg: #E3E7F2;
$body-color: #333333;
$body-meta: #5f5f5f;

//colors
$primary: #005ed0;
$secondary: #FF6100;

//fonts
$font-family-sans-serif: 'PT Sans', sans-serif;
$font-size-base: 1rem * 1.125;

//grid & breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 568px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);

$container-max-widths: (
  xs: 290px,
  sm: 522px,
  md: 708px,
  lg: 944px,
  xl: 1180px,
);

//headings
$headings-font-weight: 700;
