.single-line-form {
  display: flex;
  height: 48px;
  box-shadow: 0px 2px 10px rgba(255, 97, 0, 0.2);

  input {
    height: 100%;
    width: 60%;
    padding: 18px 14px;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid #fff;
    font-size: 15px;
    color: $body-meta;

    &:focus {
      border-color: $secondary;
    }

    &::placeholder {
      opacity: 0.5;
    }
  }

  button {
    border-radius: 0px 8px 8px 0px;
    width: 40%;
  }

  @media (max-width: 567px) {
    input,
    button {
      width: 50%;
      font-size: 12px;
    }
  }
}