.hero-unit {
  display: flex;
  justify-content: space-between;
  padding-top: 85px;
  padding-bottom: 190px;
  color: #fff;

  @media (max-width: 1023px) {
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 175px;
  }

  @media (max-width: 567px) {
    padding-top: 20px;
    padding-bottom: 175px;
  }
}

.hero-unit__column {
  width: 42%;

  @media (max-width: 1279px) {
    &--content {
      width: 50%;
    }
    &--image {
      width: 40%;
    }
  }


  @media (max-width: 1023px) {
    &--content {
      width: 75%;
      text-align: center;
    }
    &--image {
      display: none;
    }
  }

  @media (max-width: 567px) {
    &--content {
      width: 100%;
      text-align: center;
    }
  }
}

.hero-unit__image {
  display: flex;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }
}

.hero-unit__desc {
  margin: 20px 0 45px;
  opacity: 0.7;

  @media (max-width: 567px) {
    margin: 20px 0 20px;
  }
}

.hero-unit__entry {
  margin-top: 20px;
  font-size: 15px;
}

.hero-unit__entry-link {
  font-weight: 700;
  color: $secondary;

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    text-decoration: none;
  }
}